extends layout

block content
  h1= activity.name

  .spacer
  h2 Description
  p= activity.description

  .spacer
  - if (user && user.isMember)
    h2 Add a new edition
    form.raised.form(method='post', action='/activities/' + activity.link + '/add_edition')
      .row
        .form-group.col-lg-6
          label Edition name
          br
          input(name='name', type='text', required)
      .row
        .form-group.col-lg-6
          label Start time
          br
          input.col-lg-6.datepicker(name='start_date', type='text', required)
      .row
        .form-group.col-lg-6
          label End time
          br
          input.col-lg-6.datepicker(name='end_date', type='text', required)
      script.
        $('.datepicker').datepicker({format: 'dd/mm/yyyy'})
      br
      input.btn.btn-success(type='submit', value='Add')

  .spacer
  h2 All project editions
  - if (activity.edition.length != 0)
    - each ed in activity.edition
      h2
        a(href='/activities/' + activity.link + '/' + ed.link)= ed.name
      h4 People involved
      - each peep in ed.people
        p= peep
      .spacer
  - else
    h4 No editions yet!
  .spacer
