extends layout

block content
  .raised.form
    h1= (event? 'Edit event':'Add event')
    .spacer

    form(method='post', action=(event? '/add?id=' + event._id:'/add'))

      .row
        .form-group.col-lg-6
          label Event name
          input.form-control(name='name', type='text', required, value=(event? event.name:false))

      .row
        .form-group.col-lg-6
          label Date and time
          input.form-control#datetimepicker(name='date', type='text', required, value=(event? event.date:false))

          script.
            $('#datetimepicker').datetimepicker({
              language: 'en'
            });

      .row
        .form-group.col-lg-6
          label Location
          input.form-control(name='location', type='text', required, value=(event? event.location:false))

      .row
        .form-group.col-lg-6
          label Contact email
          input.form-control(name='email', type='email', required, value='#{user.email}')

      .row
        .form-group.col-lg-6
          label External event link
          input.form-control(name='link', type='url', value=(event? event.link:false))

      .row
        .form-group.col-lg-12
          label Description
          textarea.form-control.textarea_width(name='description', rows='5')= (event? event.description:'')

      br
      input.btn.btn-success(type='submit', value='Save')