extends layout

block content
  - if (user)
    .user.card
      b= user.name
      br
      = user.email
      br
      if (user.isMember)
        a(href='/edit') Add event
      br
      a(href='/logout') Logout

  - each e in events
    .date.card
      #day 07
      #month JAN
    - if (user && user.isMember)
      a(href='/edit?id=' + e._id)
        .actions.raised
          | EDIT
    .card
      #name= e.name
      #description= e.description
    .spacer

  .spacer
