!!! 5
html

  head
    title ROSEdu Events

    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/bootstrap.css')

  body
    #nav
      ul
        li
          a(href='/') Events
        li
          - if (!email)
            a(href='/auth/google') Login
          - else
            a(href='/logout') Logout

    #main
      block sidebar
      block content

    .spacer
    #footer
      = "Copyright © 2007 - 2014 "
      a(href="http://rosedu.org") ROSEdu