body {
	background: #E1E1E1 url('/public/images/bg.png') center 0 no-repeat !important;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 12px;
	margin: auto;
	color: #4D4D4D;
}

#main {
	width: 1000px;
	margin: 0px auto 0px auto;
	min-height: 500px;
}

#nav, #nav a {
	width: 1000px;
	margin: 0px auto 200px auto;
	font-size: 18px;
	font-weight: bold;
	color: #323232;
}

#nav a:hover {
	color: #c84060;
	text-decoration: none;
}

#nav ul {
	margin: 0px;
	padding: 10px;
}

#nav li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#footer {
	width: 1000px;
	padding: 10px;
	margin: 0px auto 0px auto;
	color: #323232;
	font-weight: bold;
}

.card {
	position: relative;
	display: inline-block;
	width: 600px;
	max-height: 400px;
	padding: 20px;
	margin: 10px;
	vertical-align: top;
	background-color: #fff;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.spacer {
	clear: both;
	height: 30px;
}

.date {
	width: 40px;
	height: 45px;
	float: left;
	margin: 10px;
	padding: 10px;
    color: #fff;
    background-color: #4285f4;
    text-align: center;
    box-sizing: initial;
    line-height: initial;
}

.raised {
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#day {
	font-size: 25px;
}

#month {
	font-size: 16px;
}

.actions {
	width: 60px;
	float: left;
	clear: left;
	margin: 0px 10px 10px 10px;
	padding: 5px 0px 5px 0px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background-color: #0f9d58;
}

.form {
	padding: 40px;
	background-color: #fff;
}

.form label {
	font-weight: bold;
}

.user {
	width: 200px;
	float: right;
	margin: 10px;
	padding: 10px;
}

#name {
	font-size: 30px;
	margin: 0px 0px 20px 0px;
}

.textarea_width {
	max-width: 920px;
}
