body {
	background: #E1E1E1 url('/public/images/bg.png') center 0 no-repeat !important;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 12px;
	margin: auto;
	color: #4D4D4D;
}

iframe[src^="https://apis.google.com/u/0/_/widget/oauthflow/toast"] {
  display: none;
}

#main {
	width: 1000px;
	margin: 0px auto 0px auto;
	min-height: 500px;
}

#header, header a {
	width: 1000px;
	margin: 0px auto 200px auto;
	font-size: 18px;
	font-weight: bold;
	color: #323232;
}

#header a:hover {
	color: #c84060;
	text-decoration: none;
}

.announcement {
    width: 980px;
    border: 1px solid #0f9d58;
    padding: 20px;
    margin: 0px auto 0px auto;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    background-image: linear-gradient(#7fe7ab, #aaefc7);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#nav {
	width: 700px;
	float: left;
}

#nav ul {
	margin: 0px;
	padding: 10px;
}

#nav li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#controls {
	width: 290px;
	float: left;
	padding: 10px 10px 0px 0px;
	text-align: right;
}

#footer {
	width: 1000px;
	padding: 10px;
	margin: 0px auto 0px auto;
	color: #323232;
	font-weight: bold;
}

.card {
	position: relative;
	display: inline-block;
	width: 600px;
	padding: 20px;
	margin: 10px;
	vertical-align: top;
	background-color: #fff;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.spacer {
	clear: both;
	height: 30px;
}

.date {
	width: 40px;
	height: 60px;
	float: left;
	margin: 10px;
	padding: 10px;
    color: #fff;
    background-color: #4285f4;
    text-align: center;
    box-sizing: initial;
    line-height: initial;
}

.raised {
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#day {
	font-size: 25px;
}

#month {
	font-size: 16px;
}

.actions {
	width: 60px;
	float: left;
	clear: left;
	margin: 0px 10px 10px 10px;
	padding: 5px 0px 5px 0px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background-color: #0f9d58;
}

.form {
	padding: 40px;
	background-color: #fff;
}

.form label {
	font-weight: bold;
}

.user {
	width: 270px;
	float: right;
	margin: 10px;
	padding: 10px;
}

#name {
	font-size: 30px;
	margin: 0px 0px 20px 0px;
}

.textarea_width {
	max-width: 920px;
}

.delete_btn {
	width: 110px;
	float: right;
}

.tag {
	display: inline;
	padding-right: 5px;
}

.events-older {
	float: left;
}

.events-newer {
	text-align: right;
}
/******* PEOPLE ********/
.person {
    float: left;
    width: 80px;
    height: 80px;
}

.name-container {
    position:relative;
}

.name {
    position: absolute;
    left: -19px;
    opacity: 0;
    background: #fff;
    width: 114px;
    font-size: 16px;
    text-align: center;
    border-radius: 0 0 5px 5px;
    padding-bottom: 3px;
    box-shadow:0 0 5px #888, 0 0 1px #888;
}

.name:hover {
    display: none;
}

.avatar-container img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: -webkit-calc(100% - 4px);
    width: 76px;
    height: 78px;
    background-color: #0f9d58;
}

.person:not(.search-hidden) img:hover {
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -o-transform:scale(1.5);
    -ms-transform:scale(1.5);
    transform:scale(1.5);
    border:0px solid #fff;
    box-shadow:0 0 5px #888, 0 0 1px #888;
}

.person:not(.search-hidden):hover .name {
    -webkit-animation: showName .3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: showName .3s;
    -moz-animation-fill-mode: forwards;
    -ms-animation: showName .3s;
    -ms-animation-fill-mode: forwards;
    animation: showName .3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes showName {
    50% { opacity:0; }
    75% { opacity:1; }
    100% { opacity:1; }
}

@-moz-keyframes showName {
    50% { opacity:0; }
    75% { opacity:1; }
    100% { opacity:1; }
}

@-ms-keyframes showName {
    50% { opacity:0; }
    75% { opacity:1; }
    100% { opacity:1; }
}

@keyframes showName {
    50% { opacity:0; }
    75% { opacity:1; }
    100% { opacity:1; }
}

/********* USER **********/
.user-avatar {
	float: left;
}

.user-info {
	float: left;
	margin-left: 30px
}